.container {
    max-width: 1204px;
    margin-inline: auto;
    padding-inline: 20px;
}

.btn {
    display: inline-flex;
    justify-items: center;
    align-items: center;
    padding: 12px 20px;
    border-radius: 12px;
    border: none;
    font-weight: bold;
    line-height: 126%;
    transition: all 0.2s ease-in-out;
}

.btn:hover {
    cursor: pointer;
}

.btn-primary {
    background: var(--color-primary);
}

.btn-primary:hover {
    background: #2866cd;
}

.btn-outline {
    background: none;
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
}

.btn-outline:hover {
    background: var(--color-primary);
    color: var(--color-headers);
}

.btn-outline-neutral {
    background: none;
    border: 1px solid #4F5678;
    color: var(--color-text-neutral);
}

.btn-outline-neutral:hover {
    background: rgba(79, 86, 120, 0.3);
}

/*------HEADER------*/
.header-container {
    display: flex;
    flex-direction: column;
}

/*Header Top*/
.header-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.header-top-left, .header-top-right {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.header-top > * {
    font-size: 14px;
}

.language:hover {
    text-decoration: underline;
    cursor: pointer;
}

#themeToggle {
    color: var(--color-headers);
    background: none;
    border: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Header Main*/
.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.nav-left {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    height: 44px;
}

#navLogo {
    height: 32px;
    width: 114px;
}

#navMenu {
    display: flex;
    flex-direction: row;
    gap: 32px;
    padding: 0;
}

#navMenu li {
    text-decoration: none;
    list-style: none;
}

.nav-right {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.nav-right {
    height: 44px;
}

/*------MAIN------*/
/*---HERO---*/
#hero {
    padding: 112px 0 80px;
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

/*Hero Top*/
.hero-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    max-width: 860px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.hero-eyebrow {
    display: inline-flex;
    flex-direction: row;
    gap: 3px;
    align-items: center;
    padding: 8px 12px;
    border-radius: 20px;
    border: 1px solid #4F5678;
}

.hero-description {
    padding: 0 80px;
    text-align: center;
}

.hero-buttons {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.hero-buttons > button {
    height: 48px;
}

/*Hero Content*/
.hero-content {
    overflow: hidden;
    border-radius: 24px;
    position: relative;
}

.hero-content img {
    object-fit: cover;
    width: 100%;
}

.hero-video-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transform-origin: center center;
    display: flex;
    flex-direction: row;
    background: var(--color-bg);
    gap: 12px;
    align-items: center;
    padding: 13px 24px;
    border-radius: 48px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.hero-video-btn:hover {
    border: 8px solid rgba(195, 209, 255, 0.9);
    transform: translate(-50%, -50%) scale(1.05);
}

.hero-video-btn:active {
    border: 4px solid rgba(195, 209, 255, 0.9);
    transform: translate(-50%, -50%) scale(1);
}

.video-btn-text {
    display: flex;
    flex-direction: column;
}

.video-btn-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.58;
}

.video-btn-bottom {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}

.video-btn-bottom span {
    font-size: 16px;
    color: var(--color-text-neutral);
}

.play-video-text {
    color: var(--color-primary) !important;
}

/*---PARTNERS---*/
#partners {
    padding: 40px 0 60px;
}

.partners-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.partners-logos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    place-content: center;
    gap: 40px;
    padding: 20px 0;
}

/*STRATEGIES*/
#strategies {
    padding: 128px 0 112px;
}

.strategies-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.strategies-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    max-width: 520px;
}

.strategies-top-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.strategies-eyebrow {
    display: inline-flex;
    flex-direction: row;
    gap: 3px;
    align-items: center;
    padding: 8px 12px;
    border-radius: 20px;
    border: 1px solid #4F5678;
}

.strategies-top-text p {
    text-align: center;
    padding: 0 20px;
}

.strategies-top-buttons {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.strategies-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.strategies-card {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px 20px;
    border-radius: 12px;
    border: 2px solid transparent;
    transition: all 0.3s ease-in-out;
    cursor: default;
}

.strategies-card-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    width: 100%;
    font-weight: 600;
    color: var(--color-headers);
}

.strategies-card p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 1.6;
}

.strategies-card:hover {
    border: 2px solid var(--color-primary);
    scale: 1.05;
    box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.2);
}

/*TESTIMONIALS*/
#testimonials {
    padding: 128px 0 112px;
}

.testimonials-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}

.testimonials-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.testimonials-description {
    padding: 0 20px;
    text-align: center;
}

.swiper {
    width: 100%;
}

.testimonials-content {
    width: 100%;
}

.testimonials-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #4F5678;
    border-radius: 20px;
    width: 400px;
    height: 524px;
    padding: 32px 40px;
    justify-items: end;
    gap: 16px;
}

.testimonials-card-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 272px;
    margin-top: 68px;
    font-size: 20px;
    font-weight: 500;
    color: #D3D6E2;
}

:root[data-theme="light"] .testimonials-card-text,
:root[data-theme="light"] .testimonials-card-name {
    color: black;
}

.testimonials-card-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.testimonials-card-avatar {
    border-radius: 50%;
    border: 2px solid #4F5678;
}

.testimonials-card-author {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.testimonials-card-name {
    font-weight: bold;
    color: #D3D6E2;
}

.swiper-button-prev, .swiper-button-next {
    color: #4F5678;
}

/*---TRIAL---*/
#trial {
    padding: 80px 0;
}

.trial-content {
    background: var(--color-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 32px;
    padding: 60px;
    position: relative;
    overflow: hidden;
}

.trial-content-left, .trial-content-right {
    z-index: 3;
}

.trial-bg-image {
    position: absolute;
    top: 14px;
    left: 0;
}

.trial-bg-image::after {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    background: radial-gradient(ellipse at center,
    rgba(0, 0, 0, 0) 0%,
    var(--color-primary) 80%
    );
}

.trial-bg-image img {
    object-fit: cover;
}

.trial-content {
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    gap: 40px;
}

.trial-content-left {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.trial-content-title {
    font-size: 48px;
    color: white;
    font-weight: bold;
}

.trial-content-left h1 {
    text-align: left;
}

.trial-button {
    display: flex;
    flex-direction: row;
    width: fit-content;
    gap: 5px;
    height: 56px;
    padding: 14px 50px;
    background: linear-gradient(115deg, rgba(255, 255, 255, 0.16) 0%, rgba(255, 255, 255, 0.3) 100%);
}

.trial-button:hover {
    background: white;
    color: var(--color-primary);
}

.trial-content-right {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 20px;
}

.trial-content-block {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.2) 80%);
    display: flex;
    flex-direction: row;
    padding: 8px;
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    gap: 12px;
    transition: all 0.3s ease-in-out;
}

.trial-content-block:hover {
    scale: 1.05;
}

.trial-block-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 48px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    padding: 20px;
}

.trial-block-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.trial-block-text span {
    font-weight: 500;
    color: white;
}

.trial-block-text p {
    color: rgba(255, 255, 255, 0.7);
}

/*---SOLUTION---*/
.solution-container {
    padding: 128px 0 112px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    position: relative;
}

.solution-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    max-width: 800px;
}

.solution-top-eyebrow {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    font-weight: 500;
    border-radius: 20px;
    border: 1px solid #4F5678;
    padding: 8px 12px;
}

.solution-top p {
    text-align: center;
}

.solution-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    overflow: hidden;
}

.solution-grid:not(.solution-grid--expanded) > *:nth-child(n+10) {
    display: none;
}

.solution-bottom {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    width: 100%;
    bottom: 0;
    height: 264px;
    background: linear-gradient(0, var(--color-bg) 40%, transparent 100%);
}

.solution-card {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 32px;
    border: 1px solid #4F5678;
    border-radius: 12px;
}

.solution-card img {
    width: 32px;
}

.solution-card-text {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
}

.solution-card-text h5 {
    text-align: left;
}

.solution-card-text p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 1.6;
}

.solution-card-tags {
    color: #2E71E5;
}

/*---FAQ---*/
#faq {
    padding: 128px 0 112px;
}

.faq-container {
    display: flex;
    flex-direction: row;
    gap: 48px;
}

.faq-left {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 476px;
}

.faq-left h2 {
    text-align: left;
}

.faq-eyebrow {
    display: inline-flex;
    flex-direction: row;
    gap: 3px;
    width: fit-content;
    align-items: center;
    padding: 8px 12px;
    border-radius: 20px;
    border: 1px solid #4F5678;
}

.faq-right {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 680px;
    padding-right: 20px;
}

.faq-dropdown {
    width: 100%;
}

.faq-dropdown summary {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-bottom: 24px;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.faq-dropdown summary img {
    transition: 0.5s;
}

.faq-dropdown summary h5:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 4px;
    background: var(--color-primary);
    border-radius: 2px;

}

.faq-dropdown[open] summary img {
    rotate: 180deg;
}

.faq-dropdown h5 {
    text-align: left;
    margin-left: 20px;
}

.faq-panel {
    height: 0;
    overflow: hidden;
}

/*------FOOTER------*/
.footer-container {
    padding: 80px 0 40px;
}

.footer-top {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    width: 100%;
}

.footer-divider {
    height: 1px;
    background: #4F5678;
    width: 100%;
}

.footer-content {
    padding: 60px 0 112px;
    display: flex;
    flex-direction: row;
    gap: 32px;
    border-bottom: 1px solid #4F5678;
}

.footer-section {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 277px;
}

.footer-section > span {
    font-weight: bold;
}

.footer-section > ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 4px;
}

.footer-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    padding: 20px 0;
}

.footer-bottom-right {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
    list-style: none;
}

/*---------Adaptive---------*/

@media (max-width: 1199px) {

    .container {
        padding: 0 32px;
    }

    /*---Header---*/
    .nav {
        padding: 12px 0;
    }

    #navMenu {
        display: none;
    }

    /*Hero*/
    .hero-content {
        position: relative;
        width: 100%;
        overflow: hidden;
    }

    .hero-content img {
        object-fit: cover;
        display: block;
    }

    /*Strategies*/
    .strategies-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .strategies-grid > :nth-child(3) {
        grid-column: span 2;
    }

    .swiper {
        width: 100vw;
        margin-left: -32px;
    }

    /*Trial*/
    .trial-content {
        flex-wrap: wrap;
        gap: 40px;
    }

    /*Solution*/
    .solution-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .solution-grid > *:nth-child(n+9) {
        grid-column: span 2 !important;
    }
    .solution-grid:not(.solution-grid--expanded) > *:nth-child(n+10) {
        display: none;
    }

    /*FAQ*/
    .faq-container {
        flex-wrap: wrap;
    }
    .faq-left, .faq-right {
        width: 100%;
        max-width: 100%;
    }
}

@media (max-width: 810px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }

    /*---Header---*/
    .header-top {
        display: none;
    }
    .nav-right {
        display: none;
    }

    /*Hero*/
    #hero {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .hero-description {
        padding: 0;
    }
    .hero-buttons {
        flex-direction: column;
        width: 100%;
    }
    .hero-buttons > button {
        width: 100%;
        justify-content: center;
    }
    .hero-content {
        height: 267px;
    }
    .hero-content img {
        height: 100%;
    }
    .video-btn-text {
        display: none;
    }
    .hero-video-btn {
        padding: 12px;
        border-radius: 50%;
    }

    /*Partners*/
    #partners {
        padding-top: 20px;
        padding-bottom: 60px;
    }
    .partners-logos img {
        height: 32px;
    }

    #strategies {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .strategies-grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .strategies-grid > * {
        grid-column: span 1 !important;
    }

    /*Testimonials*/
    #testimonials {
        padding-top: 20px;
        padding-bottom: 0;
    }
    .swiper {
        margin: 0;
        width: 100%;
        padding: 0 12px;
    }

    /*Trial*/
    #trial {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .trial-container {
        padding: 0;
    }
    .trial-content {
        border-radius: 0;
    }
    .trial-button {
        width: 100%;
        justify-content: center;
    }

    /*Solution*/
    .solution-grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .solution-grid > :nth-child(n+9) {
        grid-column: span 1 !important;
    }

    /*Footer*/
    .footer-section {
        width: fit-content;
    }
    .footer-content {
        flex-wrap: wrap;
    }
    .footer-bottom-right > * {
        text-wrap: nowrap;
    }
}